$spacer: 1rem;
$grid-gap: 2.4rem;

:root {
	--color-grey: #E5E5E5;
	--color-grey-light: #fafafa;
	--color-grey-mid: #DDDDDD;
	--color-grey-dark: #676767;
	--color-grey-deep: #777777;
	--color-white: #FFFFFF;
	--color-black: #000000;
	--color-blue: #020266;
	--grid-gap: 2.4rem;
	--delete-width: 3rem;
--body-overflow: hidden;
}
