@use '../abstracts'as *;

.main-content {

    padding-top: 56px;

    @include bp(sm) {
        padding-top: 56px;
    }

    @include bp(md) {
        padding-top: 56px;
    }

    @include bp(lg) {
        padding-top: 110px;
    }
}

.hero {
    position: relative;
    height: 50vh;
    display: flex;

    @include bp(lg) {
        height: 80vh;
    }

    .bcg {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;

        img {
            object-fit: cover;
            height: 100%;

            @include bp(sm) {
                height: auto;
            }
        }
    }

    .component-responsive-image {
        height: 100%;

        .component-responsive-image-size {
            height: 100%;
        }
    }

    .container {
        position: relative;
        display: flex;
        align-items: center;

        .wrap {
            width: 100%;
        }
    }


    &__paragraph {
        color: white;
        font-size: 14px;
    }

    &__title {
        color: white;
    }
}

.home-section {
    padding: var(--section-spacing) 0;

    &.article {

        header {
            margin: auto;
            text-align: center;
            padding-inline: 18px;

            .button {
                display: block;
                margin: auto;
                text-align: center;
            }
        }

    }

    &.image-content {
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
        gap: 1em;
        position: relative;
        grid-template-areas: "content picture";
        
        grid-template-rows: 1fr 1fr;
        overflow: hidden;

        @include bp(md) {
            grid-template-areas: "picture content";
            grid-template-columns: 1fr 1fr;
            flex-direction: row;
            gap: 0;
        }

        header {
            grid-area: content;
            text-align: left;
            padding-inline: 18px;
            padding-block: 4rem;

            @include bp(md) {
                margin-inline: 4rem;
                padding-block: 0rem;
            }

            .button {
                display: block;
                margin: 0;
            }

            h2 {
                width: 70%;
            }
        }

        picture {
            grid-area: picture;
            align-self: start;
            height: 70vh;

            img {
                object-fit: cover;
            }
        }

    }



    p {
        color: rgba(black, 0.54);
        padding-block-end: 1rem;
    }

    h2 {
        color: rgba(black, 0.54);
        padding-block-end: 2rem;
    }
}